.artigo {
    /*Acessa o campo de classe artigo*/
    padding: 1.5rem 8rem 2.5rem 8rem;
    /*Cria um espaçamento interno para o campo artigo
    Altura: 1.5rem
    Lado esquerdo: 8rem
    embaixo: 2.5rem
    baixo: 8rem;
    
    */
    height: 100%;
}

.container {
    margin-top: 2rem;
    gap: 40px;
    /*Cria uma distância entre o elemento que está acima do container*/
}

.container__titulo {
    font-size: 24px;
    margin-bottom: 2rem;
}

.container__texto__paragrafo,
.container__titulo {
    color: var(--cor-azul-celeste);
}

.container__imagem {

    display: flex;
    flex-direction: column; 

    margin: 1.5rem 0;
    
    /* margin: 0 20px 20px 0; */
    /* width: calc(40vw - 10rem); */
}

.esq-dir {
    float: right;
    margin: 0 0 0 1.5rem;
}

.dir-esq {
    float: left;
    margin: 0 0 0 1.5rem;
}

.container__imagem__item {
    margin: 0 auto;
    width: 80%;
    max-width: 420px;
    min-width:  128px;
}

.legenda-imagem {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    max-width: calc(30vw);

}

.container__botao__link {
    border: 1px solid var(--cor-azul-anil);
    border-radius: 20px;
    padding: 1rem 2rem;

    background-color: var(--cor-azul-anil);

    margin-top: 1rem;
    color: var(--cor-branco);
}

.container__botao__link:hover {
    cursor: pointer;
    transition: .6s;
    background-color: var(--cor-amarelo);
    color: var(--cor-azul-anil);
    border: 1px solid var(--cor-azul-anil);
}



@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        flex-wrap: nowrap;
        margin-top: 1rem;
        height: 100%;
        gap: 20px
    }

    .container__imagem {

        display: flex;
        flex-direction: column;
        width: 50%;
    }
    
    .artigo {
        padding: 1rem 3rem 2.5rem 3rem;
    }

    .container__texto {
        width: 100%;
    }

}

@media screen and (max-width: 420px) {
    .container {
        flex-direction: column;
        flex-wrap: nowrap;
        margin-top: 1rem;
        height: 100%;
    }

    .container__texto {
        width: 100%;
    }


    .container__titulo {
        font-size: 18px;
        margin-bottom: 1rem;
        white-space: wrap;
        width: 100%;
        /* text-align: center; */
    }

    .container__texto__paragrafo {
        width: 100%;
        font-size: 14px;
    }

    .container__imagem {
        float: bottom;
        order: 1;
    }


}
