
.banner {
    box-sizing: border-box;
    height: calc(100vh - 4rem);
    background-image: url('../assets/Sao_jose_EC_camisa.jpg');
    background-size: cover;
    background-attachment: fixed;
}

@media screen and (max-width: 420px) {
    .banner {
        background-position: -50vw;
        background-size: auto;
    }
}
