
.banner {
    box-sizing: border-box;
    height: calc(100vh - 4rem);
    background-image: url('../assets/Sao_jose_EC_camisa.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.banner--estadio {
    box-sizing: border-box;
    height: calc(100vh - 4rem);
    background-image: url('../assets/artigo/Estádio-Martins-Pereira-Créditos-Facebook-do-Estádio.jpg');
    background-position-y: 40%;
    background-size: cover;
    background-attachment: fixed;
}

.banner--historia {
    box-sizing: border-box;
    height: calc(100vh - 4rem);
    background-image: url('../assets/artigo/Time_do_Esporte_Clube_São_José_que_foi_campeão_da_Série_A2\,_mas_não_teve_acesso_à_elite.webp');
    background-size: cover;
    background-attachment: fixed;
}

@media screen and (max-width: 420px) {
    .banner {
        background-repeat: no-repeat;
        background-position: -50vw;
        background-size: cover;
    }
}
